@model dynamic

@Scripts.Render("http://pshared.5min.com/scripts/playerseed.js?sid=577&playlist=1825")

@{
    ViewBag.Title = "Project CampFire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
