@model dynamic

@Scripts.Render("http://pshared.5min.com/scripts/playerseed.js?sid=577&playlist=1825")

@{
    ViewBag.Title = "Project CampFire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>$(document).ready(function() {

	// Using default configuration
    $("#foo").carouFredSel({
        circular: true,
        infinite: true,
        items: null,
        direction           : "right",
        scroll : {
            items: 1,
            fx: "scroll",
        easing:         "linear",
        duration        : 1000,                        
        pauseOnHover    : false
        },
        auto: {
            play: false
        },
        swipe: {
            onTouch: true,
            onMouse: true,
        }
    });
});</script>
<h2>@ViewBag.Title</h2>
<div id="foo">
	<img src="https://thumbnails.5min.com/10360697/518034831_c.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034832_c.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034830_c.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034831_1.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034832_1.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034830_1.jpg" width="300" />
</div>